body {
  margin: 0;
  padding: 0;
  background-image: url('/background.jpg'); /* public klasöründeki resim */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

#root {
  min-height: 100vh;
}
